<h4>Método de Pagamento</h4>

<!-- Botões para alterar o # de cartões -->
<div class="btn-group" role="group" ng-show="isCheckout">
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="addCreditCard()">+ Cartões</button>
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="removeCreditCard()">- Cartões</button>
</div>

<br/>

<!-- 1 Cartão -->
<div class="btn-group" role="group" ng-show="numOfCards === 1 && isCheckout">    
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="creditCard()">{{numOfCards}} Cartão</button>
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="creditCardAndBoleto()"> {{numOfCards}} Cartão + Boleto</button>
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="boleto()">&nbsp; Boleto &nbsp;</button>
</div>

<br/>

<!-- Mais de 1 cartão -->
<div class="btn-group" role="group" ng-show="numOfCards > 1 && isCheckout">
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" data-toggle="modal" data-target="#amounts-modal">{{numOfCards}} Cartões</button>
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" data-toggle="modal" data-target="#amounts-modal" ng-click="numOfBoletos = 1">{{numOfCards}} Cartões + Boleto</button>
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="boleto()">&nbsp; Boleto &nbsp;</button>
</div>

<!-- 1 Cartão e Boleto apenas (marketplace) -->
<div class="btn-group" role="group" ng-hide="isCheckout">    
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="creditCard()">Cartão</button>
    <button class="btn btn-outline-primary" ng-style="getHeaderColor()" ng-click="boleto()">Boleto</button>
</div>

<!-- ---------------------------------------------- -->
<!-- Modal de valores a serem pagos por cada cartão -->
<!-- creditCardAndBoleto() -->
<!-- ---------------------------------------------- -->

<div class="modal fade" id="amounts-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" my-modal>
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header" ng-style="getHeaderColor()">
		<h4 class="white baloo-tamma">Valores por cartão</h4>
		<button type="button" class="close white" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <div class="modal-body">
		<!-- Valor Total x Valor Somado -->
		<form class="form-inline">
		    <div class="form-group" style="margin-bottom: 5px;">
			<label class="baloo-tamma" style="margin-right: 20px;">Valor do Produto</label>
			<label class="baloo-tamma">R$ {{price.toFixed(2).toString().replace(".", ",")}}</label>
		    </div>
		</form>
		<form class="form-inline">
		    <div class="form-group" style="margin-bottom: 5px;">
			<label class="baloo-tamma" style="margin-right: 42px;">Valor Somado</label>
			<label class="baloo-tamma">R$ {{aggregateAmount()}}</label>
		    </div>
		</form>
		<form class="form-inline">
		    <div class="form-group" style="margin-bottom: 5px;">
			<label class="baloo-tamma" style="margin-right: 73px;">Diferença</label>
			<label class="baloo-tamma">R$ {{amountDiff()}}</label>
		    </div>
		</form>
		
		
		<!-- Valor -->
		<form class="form-inline" ng-repeat="i in range(1, (numOfCards + numOfBoletos - 1))">
		    <div class="form-group" style="margin-bottom: 20px;">
			<label style="margin-right: 20px;">Valor</label>
			<input id="register-name" ng-model="amountPerMethod[i - 1]" type="text" class="form-control" size="25" placeholder="Valor">
		    </div>
		</form>
		<form class="form-inline">
		    <div class="form-group" style="margin-bottom: 20px;">
			<label style="margin-right: 20px;">Valor</label>
			<input id="register-name" ng-model="amountDiff()" type="text" class="form-control" size="25" placeholder="Valor" readonly="readonly">
		    </div>
		</form>
	    </div>
	    <div class="modal-footer" ng-hide="numOfBoletos === 1">
		<button ng-click="creditCard()" type="button" class="btn btn-outline-primary" ng-style="getHeaderColor()" data-dismiss="modal">Pagar</button>
	    </div>
	    <div class="modal-footer" ng-show="numOfBoletos === 1">
		<button ng-click="creditCardAndBoleto()" type="button" class="btn btn-outline-primary" ng-style="getHeaderColor()" data-dismiss="modal">Pagar</button>
	    </div>
	</div>
    </div>
</div>

