<nav class="navbar navbar-toggleable-md" ng-style="getHeaderColor()">
    <a class="navbar-brand" href="https://pagar.me">
	<img src="images/logo.png" class="logo-pagarme">
    </a>
    
    <div class="collapse navbar-collapse" id="navbar">
	<ul class="nav navbar-nav">
	    <li class="nav-item">
		<a class="nav-link" href="#/">Home</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" href="#api_key">API Key</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" href="#checkout">Checkout</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" href="#marketplace">Marketplace</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" href="#login">Televendas</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" href="#subscriptions">Assinaturas</a>
	    </li>
	</ul>
    </div>
</nav>
