<div class="container" ng-style="getBackgroundColor()" style="width: 100%">
    <div class="row">
	<div class="col-xs-6 center-block">
	    <div class="width-medium">
		<h2 style="margin-top: 30px;">Demo Web Padrão do Pagar.me</h2>
		<p>Nessa demonstração, mostramos algumas das funcionalidades principais que o Pagar.me oferece aos seus cliente e que são utilizadas de forma recorrente. Entenda-o como um <em>repositório de casos de uso</em> que podem servir ao seu negócio.</p>

		<!-- Funcionalidades -->
		<h4>Funcionalidades:</h4>
		<ul>
		    <li><b class="baloo-tamma">API Key:</b> utilize sua chave de API e de encriptação e veja as transações na sua própria dashboard.</li>
		    <li><b class="baloo-tamma">Checkout:</b> simule uma compra e pague com 1 ou mais cartões e no boleto.</li>
		    <li><b class="baloo-tamma">Marketplace:</b> cadastre recebedores e simule uma transação com divisão automática do dinheiro entre eles.</li>
		    <li><b class="baloo-tamma">Televendas:</b> simule como seus atendentes fariam transações via telefone. Ou ainda conclua a compra via email.</li>
		    <li><b class="baloo-tamma">Assinaturas:</b> veja como seriam feitas suas transações recorrentes. Cadastre planos e crie assinaturas para cobrá-los de forma recorrente.</li>
		</ul>

		<!-- Customização -->
		<h4>Customize sua demo!</h4>
		<div class="form-inline">
		    <h5 style="margin-right: 5px;">Escolha a cor do header (em hexadecimal):</h5> <input ng-model="headerColor" type="text" class="form-control" size="8" maxlength="7">
		</div>
		<br>
		<div class="form">
		    <h5 style="margin-right: 5px;">Entre com o URL do logo da sua empresa:</h5>
		    <input ng-model="ciaLogoURLTemp" type="text" class="form-control" size="40" maxlength="100">
		</div>
		<br>
		<br>
		<button class="btn btn-outline-primary" ng-style="getHeaderColor()" type="button" ng-click="save()" style="width: 100%; margin-bottom: 30px;">Salvar</button>

		<!-- Guia de uso -->
		<h4>Como usar:</h4>
		<ol>
		    <li>Entre com suas chaves de API e de encriptação em <a href="#api_key" class="baloo-tamma">API Key</a>.</li>
		    <li>Depois teste nosso <a href="#checkout" class="baloo-tamma">checkout</a>, veja como pode ser seu <a href="#marketplace" class="baloo-tamma">marketplace</a>, simule uma <a href="#telesales" class="baloo-tamma">televenda</a> ou entenda mais sobre o funcionamento de nossas <a href="#subscriptions" class="baloo-tamma">assinaturas</a>.</li>
		</ol>
		<p><b class="baloo-tamma">Contato:</b> <a href="mailto:solutions@pagar.me?Subject=[Demo%20Padrão%20Web]%20Contato" target="_top"><span class="text-muted">solutions@pagar.me</span></a></p>
	    </div>
	</div>
    </div>
</div>
