<!-- Primeira parte, que inicia vísivel -->
<div class="container" ng-hide="showOkMsg" style="width: 100%" ng-style="getBackgroundColor()>
    <div class="row">
	<div class="col-xs-6 center-block">
	    <div class="width-medium">
		<h2 style="margin-top: 30px;">Marketplace</h2>

		<!-- Produto -->
		<product product-id="productId" price="price"></product>

		<br/>

		<!-- Metadata -->
		<metadata-form save-metadata="saveMetadata" metadata="metadata"></metadata-form>

		<br/>

		<!-- Lista de recebedores -->
		<recipients build-split-rules="buildSplitRules" split-rules="splitRules" is-amount="isAmount"></recipients>

		<br/>

		<!-- Pagamanento com N cartões e boleto -->
		<payment-method price="price" is-checkout="isCheckout" num-of-cards="numOfCards" payment-methods="paymentMethods" pay="pay"></payment-method>
	    </div>
	</div>
    </div>
</div>

<!-- Aparece depois do checkout -->
<div class="container" ng-show="showOkMsg">
    <div class="row">
	<div class="col-xs-6 center-block">
	    <div class="width-medium">
		<div class="text-center">
		    <h2 style="margin-top: 40px;">Pedido Registrado!</h2>
		    <p class="text-muted">Se você usou boleto, seu pedido só será aprovado a partir do pagamento.</p>
		</div>
	    </div>
	</div>
    </div>
</div>
