<!-- Primeira parte, que inicia vísivel -->
<div class="container" ng-hide="showOkMsg" style="width: 100%" ng-style="getBackgroundColor()>
    <div class="row">
	<div class="col-xs-6 center-block">
	    <div class="width-medium">
		<h2 style="margin-top: 30px;">Assinaturas</h2>

		<!-- Metadata -->
		<metadata-form save-metadata="saveMetadata" metadata="metadata"></metadata-form>

		<br/>

		<!-- Planos -->
		<subscription message="showOkMsg" save-metadata="saveMetadata" metadata="metadata"></subscription>
	    </div>
	</div>
    </div>
</div>

<!-- Aparece depois do checkout -->
<div class="container" ng-show="showOkMsg" style="width: 100%" ng-style="getBackgroundColor()>
    <div class="row">
	<div class="col-xs-6 center-block">
	    <div class="width-medium">
		<div class="text-center">
		    <h2 style="margin-top: 40px;">Assinatura Registrada!</h2>
		    <p class="text-muted">Se você usou boleto, sua assinatura só será aprovado a partir do pagamento.</p>
		</div>
	    </div>
	</div>
    </div>
</div>
