<div class="container">
    <div class="page-header">
	<div class="container-fluid">
	    <div class="row">
		<div class="col-md-2">
		    <img src="logo.png">
		</div>
		<div class="col-md-4 text-center" style="margin-left: 400px; margin-top: 20px;">
		    <h6 style="color: #961922;">Televendas</h6>
		</div>
	    </div>
	</div>
    </div>
</div>
<div class="row padding-50 bg-white" style="margin-top: 150px;">
    <div class="col-md-4">&nbsp&nbsp&nbsp&nbsp</div>
    <div ng-hide="chktSuccess && emailSuccess">
	<div class="col-md-4">
	    <input id="amountpaid" type="text" class="form-control" placeholder="Valor: R$439.88" aria-describedby="basic-addon1">
            <br>

            <div class="text-center">
		<input type="button" id="pay-button" class="btn btn-outline-danger" value="FINALIZAR COMPRA" style="width: 100%;">
	    </div>

            <input id="emailowner" type="email" class="form-control" placeholder="cliente@email.com" aria-describedby="basic-addon1" style="margin-top: 20px;">
            <br>

	    <div class="text-center">
		<button type="button" id="email-button" class="btn btn-outline-danger" value="ENVIAR EMAIL" style="width: 100%;">ENVIAR EMAIL</button>
	    </div>
	</div>
	
        <div id="msg" class="text-center" ng-show="chktSuccess">
	    <h3 style="color: #961922;"><b>COMPRA REALIZADA COM SUCESSO!</b></h3>
        </div>

        <div id="msg2" class="text-center" ng-show="emailSuccess">
	    <h3 style="color: #961922;"><b>EMAIL ENVIADO COM SUCESSO!</b></h3>
        </div> 
    </div>
    <div class="col-md-4">&nbsp&nbsp&nbsp&nbsp</div>
</div>
