<div class="container" style="margin-top: 100px;">
    <div class="row">
	<div class="col-xs-4 center-block">
	    <div class="width-small">
		<div ng-hide="chktSuccess || linkSuccess">
		    <!-- Produto -->
		    <product product-id="productId" price="price"></product>
		    <br/>

		    <button ng-click="openCheckout(price)" class="btn btn-outline-primary" style="width: 100%;">FINALIZAR COMPRA</button>
		    <br/>
		    
		    <button ng-click="getCheckoutLink()" class="btn btn-outline-primary" value="ENVIAR EMAIL" style="width: 100%; margin-top: 20px;">ENVIAR EMAIL</button>
		</div>
		
		<div id="msg" class="text-center" ng-show="chktSuccess">
		    <h3>COMPRA REALIZADA COM SUCESSO!</h3>
		</div>
		
		<div id="msg2" class="text-center" ng-show="linkSuccess">
		    <h3>O link para o envio para o cliente é:</h3>
		    <h3><a href="#">PAGAR ONLINE</a></h3>
		</div> 
		<div class="col-md-4">&nbsp&nbsp&nbsp&nbsp</div>
		<div class="col-md-4">&nbsp&nbsp&nbsp&nbsp</div>
	    </div>
	</div>
    </div>
</div>
