<div class="container" style="margin-top: 100px;">
    <div class="row">
	<div class="col-xs-4 center-block">
	    <div class="width-small">
		<div ng-hide="chktSuccess || linkSuccess">
		    <!-- Produto -->
		    <product product-id="productId" price="price"></product>
		    <br/>

		    <button ng-click="openCheckout(price)" class="btn btn-outline-primary" style="width: 100%; margin-bottom: 10px;">FINALIZAR COMPRA</button>
		    <br/>
		    <input type="text" ng-model="costumerEmail" class="form-control" placeholder="email@something.com" size="30" maxlength="40">
		    <button ng-click="sendEmail()" class="btn btn-outline-primary" value="ENVIAR EMAIL" style="width: 100%; margin-top: 5px;">ENVIAR EMAIL</button>
		</div>
		
		<div id="msg" class="text-center" ng-show="chktSuccess">
		    <h3>COMPRA REALIZADA COM SUCESSO!</h3>
		</div>
		
		<div id="msg2" class="text-center" ng-show="linkSuccess">
		    <h3>Um email foi enviado para {{costumerEmail}}</h3>
		</div> 
		<div class="col-md-4">&nbsp&nbsp&nbsp&nbsp</div>
		<div class="col-md-4">&nbsp&nbsp&nbsp&nbsp</div>
	    </div>
	</div>
    </div>
</div>
